{% extends 'web/base.html' %}

{% load bootstrap3 %}
{% block title %}GRNConnect - Static Data{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="col-md-12 text-right">
            <a href="/city/mappings/?{{url_params}}">Back To Mappings</a>
        </div>
        <div class="col-md-12" title="Suplier" style="font-family: Helvetica; font-size: 12pt; border: 1px solid black;">
            <div class="col-md-12 text-center"><p><label> Supplier : </label> <b> {{city_mapping.supplier}}</p> </b></div>
            <div class="col-md-4"><p> <label>Supp City Code :    </label> {{city_mapping.supp_city_id}}</p></div>
            <div class="col-md-4"><p> <label>Supp City Name : </label> {{city_mapping.supp_city_name}}</p></div>
            <div class="col-md-4"><p><label> Supp Destination Code :  </label> {{city_mapping.supp_dest_code}}</p></div>
            <div class="col-md-4"><p><label> Supp Destination Name : </label> {{city_mapping.supp_dest_name}}</p></div>
            <div class="col-md-4"><p><label> Supp Country Code : </label> {{city_mapping.supp_country_code}}</p></div>
            <div class="col-md-4"><p><label> Supp Country Name : </label> {{city_mapping.supp_country_name}}</p></div>

        </div>

        <div class="col-md-12" title="GRN" style="font-family: Helvetica; font-size: 12pt; border: 1px solid black; padding:5px; margin-top: 1%;">
            <div class="col-md-4"><p><label> GRN City Code : </label> {{city_mapping.grn_city_code}}</p></div>
            <div class="col-md-4"><p><label> GRN City Name : </label> {{city_mapping.grn_city_name}}</p></div>
            <div class="col-md-4"><p><label> GRN Destination Code : </label> {{city_mapping.grn_dest_code}}</p></div>
            <div class="col-md-4"><p><label> GRN Destination Name : </label> {{city_mapping.grn_dest_name}}</p></div>
            <div class="col-md-4"><p><label> GRN Country ISO Code : </label> {{city_mapping.grn_country_code}}</p></div>
            <div class="col-md-4"><p><label> GRN Country Name : </label> {{city_mapping.grn_country_name}}</p></div>
        </div>

        <div class="col-md-12 text-center"><b>Possible Matches<b></div>
        <table class="table table-bordered">
            <tr>
                <th>GRN City Code</th>
                <th>GRN City Name</th>
                <th>Destination</th>
                <th>Country</th>
                <th>Operations</th>
            </tr>
            {% for city in cities %}
                <tr>
                    <td>{{city.code}}</td>
                    <td>{{city.name}}</td>
                    <td>{{city.dest_code}}, {{city.dest_name}}</td>
                    <td>{{city.country}}</td>
                    <td>
                        <a href="/city/mappings/{{city_mapping.id}}/1/{{city.code}}/?{{url_params}}">Map This City</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
